@font-face {
  font-family: Tumbler;
  src: url(/z.\ fonts/Lost\ Tumbler.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bbd6fd;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sctions {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 20px;
  width: fit-content;
  height: fit-content;

  background-color: whitesmoke;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.navbar a {
  user-select: none;
  font-family: Tumbler;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  transition: all 0.3s ease;
}

.navbar a:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .navbar {
    position: relative;
    width: 100%;
    border-radius: 0;
    top: 0;
  }
}
