* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  color: whitesmoke;
  font-size: 2.5rem;
  text-align: center;
}

body {
  height: 100vh;
  background-color: #26283c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  background-color: white;
  margin: 1rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container #rc-btn {
  border: none;
  border-radius: 2rem;
  width: 300px;
  height: 300px;
  background-color: rgb(230, 166, 126);

  padding: 2rem;
  margin: 0.3rem;

  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-weight: bold;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
