* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: white;
}

.hero {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}
.hero .container {
  border-radius: 50px;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}
.hero p {
  font-size: 2rem;
  color: #555;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  margin-bottom: 1rem;
}

.navbar div {
  gap: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  text-wrap-mode: nowrap;
  font-size: 1.1rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #333;
}
.navbar a:hover {
  color: #888;
}

.navbar #nav-name,
#nav-btn {
  width: 100%;
}

.navbar .test {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.navbar .test i {
  font-size: 1.5rem;
}

.navbar button {
  text-wrap-mode: nowrap;
  background-color: black;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.navbar button:hover {
  background-color: hsl(0, 0%, 15%);
}

.credit {
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: fit-content;
  width: fit-content;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.icon {
  color: #333;
}

@media (max-width: 800px) {
  .navbar #nav-name {
    justify-content: start;
  }

  .navbar #nav-links,
  #nav-btn {
    display: none;
  }
  .navbar .test {
    display: flex;
  }
  .hero h1 {
    font-size: 3.5rem;
    margin-bottom: 0.3rem;
  }
  .hero p {
    font-size: 1.5rem;
  }
}
